includedir /etc/munin/munin-conf.d

[localhost.localdomain]
    address 127.0.0.1
    use_node_name yes

{% if munin_server_address is defined and munin_nodes_address is defined %}
{% for host in munin_nodes_address %}
{% if munin_server_address not in munin_nodes_address %}
[{{ host }}]
  address {{ hostvars[inventory_hostname][ansible_default_ipv4.address] }}
  use_node_name yes

{% endif %}
{% endfor %}
{% endif %}
